# Dependencies
node_modules/

# Build output
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local
*.pem
aws-APP-20250916.pem

# Logs
*.log
npm-debug.log*

# Vite
*.local

# Local event API data
event-data/
